<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vocabulary Topics</title>
    <style>
        ::placeholder {
        color: #ccc !important;
        opacity: 1; /* Override Firefox default */
    }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4 bg-dark text-light">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="mb-3">
        {% for category, message in messages %}
            <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <h2>Topics</h2>

    <!-- Add Topic Form -->
    <form method="POST" action="/add_topic" class="mb-5 mt-5">
        <label>New Topic Name</label>
        <input type="text" name="name" class="form-control bg-dark text-light" required>
        <label>Description</label>
        <textarea name="description" id="description" class="form-control bg-dark text-light"></textarea>
        <button type="submit" class="btn btn-primary mt-3 mb-5">Add</button>
    </form>

    <!-- Topic List -->
    <ul class="list-group bg-dark">
        {% for topic in topics %}
            <li class="list-group-item bg-dark text-light border-light">
                <a href="{{ url_for('view_topic', topic_id=topic.id) }}" >{{ topic.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>

</html>